* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #3e65fe;
  font-family: sans-serif;
}

.logo-box {
  background: #fff;
  padding: 30px 120px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
}

.logo {
  width: 30px;
  margin-bottom: 10px;
}

.logo-box h2 {
  margin-bottom: 20px;
}

.logo-box button {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #999;
  font-weight: 500;
  cursor: pointer;
}

.logo-box button img {
  width: 18px;
  margin-right: 10px;
}
